.progress_container {
    width: 100%;
    background-color: #e0e0e0; 
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 0; 
    position: relative; 
    min-width: 300px;
    
}

.progress_bar {
    height: 30px;
    background-color: orange; 
    transition: width 0.3s ease; 
}

.progress_label {
    position: absolute;
    width: 100%; 
    text-align: center; 
    line-height: 30px; 
    color: #000;
    font-weight: bold;
    z-index: 1; 
}

.progress_label_text {
    margin-top: 5px;
    text-align: center;
}

.main_progress{
    display: flex;             
    justify-content: flex-start; 
    align-items: center;         
    width: 100%;
}

.amount_container{
    display: flex;
    align-items: center;
}

.img_achiev_container {
    margin-right: 20px;          
}

.main_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.amount_container{
    margin-left: 20px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    width: 100%;
}
