/* style_Game.css */
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    position: relative;
    width: 800px; /* Задайте ширину в зависимости от вашей доски */
    height: 800px; /* Задайте высоту в зависимости от вашей доски */
}

.player-token {
    width: 40px; /* Размер фишки игрока */
    height: 40px; /* Размер фишки игрока */
    position: absolute;
    bottom: 20px; /* Положение относительно доски */
}
