.fake_body_log {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(249, 235, 235) 0%, rgb(191, 232, 249) 90%);
    padding: 100px;
}

.main_container_log {
    margin-top: 5px;
    margin-bottom: 5px;
    background: linear-gradient(120deg, #eee0fc 0%, #d3e4f5 100%);
    padding: 20px;
    border-radius: 11px;
    border: 3px solid whitesmoke;
}

.input_email_log {
    display: flex;
    width: 80%;
    padding: 15px;
    margin: 5px 0px 22px 32px;
    border-radius: 9px;
    border: white;
    outline: none;
}

.login_button {
    background-color: rgb(89, 195, 230);
    font-size: 15px;
    color: white;
    padding: 16px 20px;
    margin: 5px 0 22px 0;
    width: 60%;
    border: none;
    opacity: 1;
}

.login_button:hover {
    opacity: 0.8;
    background-color: rgb(9, 147, 193);
}

.login_text {
    text-align: center;
    margin-bottom: 10px;
}

.container_sign {
    text-align: center;
}

.link_entrance {
    font-size: 17px;
    opacity: 0.9;
}

.link_entrance:hover {
    opacity: 1;
    color: blue;
}

.error_django {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.container_log_button {
    display: flex;              
    justify-content: center;    
    margin: 10px 0;          
}